<div class="project-container">
  <!-- <video controls class="w-full rounded-xl">
    <source src="/timetracker.mp4" type="video/mp4" />
  </video> -->

  <img [src]="imgsrc" class="w-full lg:h-96 object-cover rounded-xl" />

  <div class="overlay"></div>
</div>

<h1 class="font-bold text-xl my-3">{{ title }}</h1>
<a
  [href]="demoLink"
  class="bg-lime-200 text-black py-1 hover:bg-lime-300 px-2 rounded-full me-2"
  target="_blank"
  >Demo</a
>\
<a
  [href]="githubLink"
  class="bg-lime-200 text-black py-1 hover:bg-lime-300 px-2 rounded-full me-2"
  target="_blank"
  >Github</a
>
<p class="mb-3">
  {{ desc }}
</p>
<div>
  @for (tech of techs; track $index) {
  <button class="bg-gray-700 rounded-full px-4 m-1">{{ tech }}</button>
  }
</div>
