<header>
  <div class="flex my-3">
    <img
      src="/profile.PNG"
      class="rounded-full border-2 border-lime-200 me-3"
      alt="profile picture"
    />
    <div class="text-gray-300">
      <div class="flex">
        <h1 class="font-bold text-xl my-2">Fatemeh Ahmadi</h1>
        <img src="/tick.png" alt="tick" class="w-5 h-5" />
      </div>
      <div class="leading-5">
        <div>front-end developer</div>
        <div>Angular | TS | tailwind | Sass</div>
      </div>
    </div>
  </div>
  <button
    class="bg-lime-200 hover:bg-blue-700 text-black py-1 px-4 rounded-full"
  >
    contact
  </button>
  <button
    class="bg-gray-200 hover:bg-blue-700 text-black py-1 px-0 rounded-full"
  >
    linkedin
  </button>
  <button
    class="bg-gray-200 hover:bg-blue-700 text-black py-1 px-0 rounded-full"
  >
    github
  </button>
  <p class="text-gray-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia corporis
    consequuntur, sunt in cupiditate error soluta aperiam dolore eos aliquid rem
    cum tempore, beatae at architecto odio, fugit facilis animi? Ipsam, quisquam
    odio? Obcaecati, voluptas laboriosam totam laborum exercitationem beatae
    provident non unde labore deserunt mollitia eveniet nostrum eligendi earum
    officiis ipsum sit molestiae quibusdam quisquam adipisci nihil, saepe amet.
    .
  </p>
</header>
<content><h1>Projects</h1></content>
<footer>
  <h1>lets work todether</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolorum
    doloribus obcaecati cumque perferendis expedita officiis iste, ab, corporis
    perspiciatis unde magnam.
  </p>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
  >
    contact
  </button>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
  >
    linkedin
  </button>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
  >
    github
  </button>
</footer>
