/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/galaxy.jpg"), rgba(0, 0, 0, 0.616);
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-size: cover;
  height: 100%;
}
